
.Cart {
    margin: 20px;
    padding: 20px;
    border: 1px solid gold;
    border-radius: 5px;
}

.CartFooter {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.CartTotal {
    font-size: 1.2rem;
    font-weight: bold;
}

.CartButtons {
    display: flex;
    justify-content:space-between ;
    background-color: black;
    color: white;
    font-size: 1rem;
}

.CartButtons button {
    background-color: black;
    color: white;
}

.checkout {
    text-decoration: none;
    color: white;
}

/* Estilos para el mensaje cuando no hay items en el carrito */
.EmptyCartMessage {
    text-align: center;
    margin-top: 20px;
}

.EmptyCartMessage h1 {
    font-size: 1.5rem;
    color: #333;
}

.EmptyCartMessage a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid gold;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.EmptyCartMessage a:hover {
    background-color: black;
    color: gold;
}