.CardItem {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.Header {
    font-size: 24px;
    margin-bottom: 12px;
}

.ItemImg {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

.Info {
    font-size: 16px;
    margin-bottom: 8px;
}

.ItemFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Option {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

/* Agrega estilos adicionales según sea necesario */
